body {
  font-family: Arial, sans-serif;
  background: white url('farblogo.png') no-repeat center center fixed;
  background-size: cover;
  margin: 40px;
}

h1 {
  color: #333;
}

#searchInput {
  margin-bottom: 20px;
  padding: 8px;
  width: 300px;
  font-size: 16px;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85); /* Lesbarkeit auf Bild */
  color: #000;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

